html {
  font-size: 62.5%;

  &.sr .load-hidden {
    visibility: hidden;
  }
}


@font-face {
  font-family: 'Callume Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Callume Regular'), url('CallumeRegular-wowax.woff') format('woff');
  }

body {
  font-family: 'Callume Regular',"Palatino Linotype","Monaco","Papyrus","Montserrat", sans-serif;
  // font-family: "Lucida Console", "Courier New", monospace;
  text-align: center;
  scroll-behavior: smooth;
}

.about-raeez{
  font-family: Tahoma;
  font-size: 1.8rem;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: $light-grey;
}
::-webkit-scrollbar-thumb:hover {
  background: $primary-color;
}
