// COLORS
$primary-color: #0099F7;
$secondary-color: #F11712;


// $primary-color: #000000;
// $secondary-color: #0f9b0f;

$white-color: #f3f3d8;
// $white-color: #080808;

$dark-grey: #333333;
$light-grey: #d2d2d2;

$dark-blue-text: #272341; // For Headings

// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;

$font-family: Roboto Mono,Arial,Helvetica,sans-serif;